<%= render 'dashboards/hNavBar' %>
<%= render 'dashboards/vNavBar' %>
<!-- add content here -->
      <!-- start page content -->
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="page-bar">
            <div class="page-title-breadcrumb">
              <div class=" pull-left">
                <div class="page-title">Exams</div>
              </div>
              <ol class="breadcrumb page-breadcrumb pull-right">
                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Exams</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Classes</li>
              </ol>
            </div>
          </div>
          <!-- add content here --> 
        <div class="col-md-12 col-sm-12">
                      <div class="card card-box">
                        <div class="card-head">
                          <header>School Exams</header>
                          <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                          </div>
                        </div>
                        <div class="card-body " id="bar-parent">
                          <div class="row">
                            <div class="col-md-3 col-sm-3 col-3">
                              <ul class="nav nav-tabs tabs-left">
                                <li class="nav-item">
                                  <a href="#HOME_" data-toggle="tab" class=""> Home </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class1" data-toggle="tab" class=""> class 1 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class2" data-toggle="tab" class=""> class 2 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class3" data-toggle="tab" class=""> class 3 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class4" data-toggle="tab" class=""> class 4 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class5" data-toggle="tab" class=""> class 5 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class6" data-toggle="tab" class=""> class 6 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class7" data-toggle="tab" class=""> class 7 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#class8" data-toggle="tab" class=""> class 8 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#nus1" data-toggle="tab" class=""> nursery 1 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#nus2" data-toggle="tab" class=""> nursery 2 </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#nus3" data-toggle="tab" class=""> nursery 3 </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                              <div class="tab-content">
                                <div class="tab-pane active show" id="HOME_">
                                  <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <button type="button" class="btn purple btn-outline m-b-10">View Results</button>
                                          <button type="button" class="btn blue-bgcolor btn-outline m-b-10">Add Results</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="class1">
                                  <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_1_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                          
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="class2">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_2_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="class3">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                         <%= link_to 'View Results',exams_class_3_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="class4">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                        <%= link_to 'View Results',exams_class_4_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="class5">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_5_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="class6">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_6_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="class7">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_7_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="class8">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_class_8_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="nus1">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_nus1_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="nus2">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_nus2_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                 <div class="tab-pane fade" id="nus3">
                                 <div class="col-sm-12">
                                      <div class="panel">
                                        <header class="panel-heading panel-heading-blue">
                                          Class 1 </header>
                                        <div class="panel-body">
                                          <!-- add action buttons -->
                                          <%= link_to 'View Results',exams_nus3_path,:class=>'btn blue btn-outline m-b-10',method: :post %>
                                          <%= link_to 'Add Results',new_exam_path,:class=>'btn purple bgcolor btn-outline m-b-10' %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
      </div>
   </div>
      <!-- end page content -->
<!-- ##################################################################### -->
<%= render 'dashboards/chat' %>
<%= render 'dashboards/footer' %>